URxvt.scrollBar:      false
URxvt.font:           xft:mono:medium:size=10,xft:Menlo for Powerline:size=10,xft:DejaVu Sans Mono for Powerline:size=10,xft:FontAwesome:size=6

Urxvt.letterspace:    -1
URxvt.url-launcher:   /usr/bin/brave-browser
URxvt*loginShell:     true
URxvt*fading:         30
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

!! resize font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k

URxvt.depth: 32

*background: #000000
*foreground: #839496
URxvt.transparent: true
URxvt.shading:20

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3



URxvt.perl-ext-common: default,clipboard
URxvt.iso14755: False
URxvt.keysym.Control-C: perl:clipboard:copy
URxvt.keysym.Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
